@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i1z52e');
  src:  url('fonts/icomoon.eot?i1z52e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i1z52e') format('truetype'),
    url('fonts/icomoon.woff?i1z52e') format('woff'),
    url('fonts/icomoon.svg?i1z52e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-log-in:before {
  content: "\e906";
}
.icon-key:before {
  content: "\e907";
}
.icon-log-out:before {
  content: "\e905";
}
.icon-user-plus:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e904";
}
.icon-x:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e901";
}
.icon-database:before {
  content: "\e902";
}
