<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Ajal | System</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/animation.css">
    <link rel="stylesheet" href="./static/css/responsive.css">
    <link rel="stylesheet" href="./static/fonts/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./static/js/main.js"></script>
</head>
<body>

    <!--<div id="permition-prompt">
        <div class="background"></div>
        <div class="content">
            <span class="icon-x" title="Cancelar Operación"></span>
            <div class="info">
                <div class="title">
                    <h2>Ingrese su contraseña para confirmar la operación de</h2>
                    <span>Actualización de Datos</span>
                </div>
                <input type="password" placeholder="e.j 12345">
                <button>Confirmar Acción</button>
            </div>
        </div>
    </div>-->

</body>
</html>