<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajal | System</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/animation.css">
    <link rel="stylesheet" href="./static/fonts/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./static/js/main.js"></script>
</head>
<body>
</body>
</html>