<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Ajal | System</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/animation.css">
    <link rel="stylesheet" href="./static/css/responsive.css">
    <link rel="stylesheet" href="./static/fonts/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--<script src="./static/js/main.js"></script>-->
</head>
<body>
    <header>
        <div class="cont">
            <h2 class="logo">
                Ajal System
                <span>
                    Panel de control
                </span>
            </h2>
            <ul class="options">
                <button>Editar Perfil</button>
                <button>Cerrar Sesión</button>
            </ul>
        </div>
    </header>
    <div id="login-content">
        <div class="profile">
            <h2>
                <span>Tarjeta de Empleado</span>
            </h2>
            <div class="profile-card">
                <div class="left">
                    <div class="part">
                        <div class="thumb">
                            <span class="icon-user"></span>
                        </div>
                    </div>
                    <div class="part">
                        <div class="info">
                            <p>Raul</p>
                            <p>Hernandez Lopez</p>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <ul>
                        <li><span>4423389139</span>Teléfono</li>
                        <li><span>admin@admin.com</span>Email</li>
                        <li><span>Tlaxcala 000</span>Dirección</li>
                        <li><span>Activo</span>Estado</li>
                        <li><span>Si</span>Admin</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="search">
            <div class="search-c">
                <input type="text" placeholder="Busca un Empleado">
                <p>Se puede realizar una busqueda ya sea por nombre, apellidos, teléfono, email, correo o dirección</p>
            </div>
            <div class="results"></div>
        </div>
    </div>
</body>
</html>