@keyframes appear{
    0%{
        opacity: 0;
        transform:scale(0.8);
    }
    70%{
        opacity: 1;
        transform: scale(1.05);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
}

@keyframes light{
    0%{
        opacity: 0.6;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.6;
    }
}

@keyframes appearUp{
    0%{
        transform:translateY(100px);
        opacity: 0;
    }
    100%{
        transform:translateY(0px);
        opacity: 1;
    }
}