@media screen and (max-width: 1170px){

    header{
        background: #191919;
        position: absolute;
    }

    #login-content{
        display: inline-block;
        margin-top: 50px;
    }

}

@media screen and (max-width: 930px) {

    body{
        padding: 50px 0px;
    }

    body #notification p{
        border-radius: 10px 10px 0px 0px;
    }

    body .form{
        max-width: 700px;
        width: 90%;
    }

    body .form .cont{
        flex-wrap: wrap;
        padding: 20px;
    }

    body .form .cont .thumb{
        width: 100%;
        margin-right: 0px;
    }

    body .form .cont .thumb .title{
        width: auto;
        position: relative;
        margin-bottom: 0px;
        margin-top: 0px;
        bottom: auto;
        display: inline-block;
        margin-left: 20px;
    }

    body .form .cont .info{
        width: 100%;
        border:0px;
        margin-top: 40px;
    }

}

@media screen and (max-width: 790px) {

    #login-content .profile{
        min-width: 0px;
    }

    #login-content .profile .profile-card{
        position: relative;
    }

    #login-content .profile .profile-card .options{
        position: absolute;
        bottom: 100%;
        right: 0px;
        margin-bottom: 18px;
    }

    #login-content .profile .profile-card .options li{
        display: inline-block;
        margin: 0px;
        margin-left: 15px;
    }

}

@media screen and (max-width: 660px) {

    body{
        padding: 0px;
        padding-bottom: 80px;
    }

    body .form{
        max-width: 700px;
        width: 100%;
    }

    body .form .cont{
        transition: 0s;
    }

    body .form .cont .thumb h2{
        text-align: center;
    }

    header .cont .options{
        width: 100%;
        margin-top: 20px;
    }

    #login-content{
        display: inline-block;
        margin-top: 200px;
    }

    #login-content .profile .profile-card{
        display: inline-block;
        height: auto;
    }

    #login-content .profile .profile-card .left{
        max-width: 100%;
    }

}

@media screen and (max-width: 560px) {

    body .form .cont .thumb{
        height: 180px;
        margin-bottom: 120px;
    }

    body .form .cont .thumb .title{
        width: 100%;
        position: absolute;
        margin-left: 0px;
        top: calc(100% + 20px);
    }

    body .form .cont .info{
        margin-top: 0px;
    }

    #login-content{
        margin-top: 150px;
    }

    #login-content .profile h2{
        margin-bottom: 80px;
    }

    #permition-prompt{
        overflow: hidden;
    }

    #permition-prompt .content{
        padding: 20px;
    }

}

@media screen and (max-width: 400px) {

    body{
        display: inline-block;
    }

    body .form .cont{
        padding: 5px;
        padding-top: 0px;
    }
 
    body .form .cont .thumb{
        margin-bottom: 200px;
        border-top: 0px;
        max-width: 85%;
        border-radius: 0px 0px 10px 10px;
    }
    
}