@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@300;400;500;700&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    -webkit-user-select:none; 
    -webkit-touch-callout:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;   
    outline: none;
    /*Touchscreen*/
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

/*Colores de las notificaciones*/
:root{
    --rojo: #8F1E1D;
    --naranja: #C76636;
    --verde: #2A7048;
    --azul: #293e4d;
    --rojizo: #993F46;
}

::-moz-selection { /* Code for Firefox */
    background: transparent;
}
  
::selection {
    background: transparent;
}

button{
    outline: 0px;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    border: 0px;
    background: #333;
    width: 100%;
    transform: scale(1);
    transition: 0.1s;
    display: inline-block;
}

button:hover{
    transform: scale(1.03);
    background: #4A4346;
}

button:focus{
    transform: scale(1.03);
    background: #4A4346;
}

button:nth-child(2){
    margin-left: 15px;
}

body{
    min-width: 100%;
    min-height: 100vh;
    background: #191919;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 35px 0px;
}

body #notification{
    bottom: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    text-align: center;
    animation:appearUp 0.2s linear;
    transition: 0.2s;
}

body #notification p{
    width: 1100px;
    max-width: 90%;
    position: relative;
    background: #333;
    padding: 20px;
    display: inline-block;
    border-radius: 100px 100px 0px 0px;
    cursor: pointer;
}

body .form{
    animation: fadeIn 0.2s linear;
}

body .form.margin{
    transition: 0.2s;
    margin-right: 500px;
}

body .form.fade{
    opacity: 0;
}

body .form.hide{
    transition: 0.2s;
}

body .form.hide.margin{
    transition: 0s;
}

body .form.margin .cont .thumb .title{
    margin-top: -34px;
    margin-bottom: 34px;
}

body .form .cont .thumb .title{
    width: calc(100% + 100px);
    padding: 15px;
    padding-left: 0px;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Righteous';
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-transform: uppercase;
    transition: 0.2s;
    position: absolute;
    bottom: calc(100% + 20px);
    left: 0px;
}

body .form .cont .thumb .title span{
    margin-top: 5px;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Raleway';
}

body .form .cont{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

body .form .cont .thumb{
    border: 1px solid #fff;
    border-radius: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    animation: light 2s linear infinite;
    position: relative;
}

body .form .cont .thumb > span{
    font-size: 120px;
}

body .form .cont .info{
    border: 1px solid #fff;
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    animation: appear 0.2s linear;
    transition: 0.2s;
}

body .form.hide .cont .info{
    opacity: 0;
    transform:scale(0.8);
}

body .form.off .cont .info{
    display: none;
}

body .form .cont .info label{
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
}

body .form .cont .info input{
    font-size: 16px;
    background: transparent;
    border: 0px;
    padding: 10px;
    padding-left: 0px;
    border-bottom:2px solid #ccc;
    opacity: 0.8;
    margin-bottom: 10px;
    width: 100%;
    transition: 0.2s;  
}

body .form .cont .info input:focus{
    opacity: 1;
    border-bottom:2px solid #fff;
}

body .form .cont .info .b-cont{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
}

body .table{
    max-width: 1300px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
}

body .table ul{
    width: 100%;
}

body .table ul:first-child{
    font-weight: bolder;
    text-transform: capitalize;
}

body .table ul:first-child li{
    padding: 10px;
}

body .table ul li{
    width: 180px;
    display: inline-flex;
}

body .table ul li input{
    background: transparent;
    color: #fff;
    border: 0px;
    font-size: 18px;
    outline: 0px;
    width: 100%;
    padding: 10px;
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    text-align: center;
    animation: fadeIn 0.2s linear;
    transition: 0.2s;
}

header .cont{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    display: inline-block;
    text-align: right;
    padding: 20px;
}

header .cont .logo{
    float: left;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Righteous';
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-transform: uppercase;
    text-align: left;
    font-weight: normal;
}

header .cont .logo span{
    display: block;
    font-size: 16px;
    margin-top: 3px;
}

header .cont .options{
    width: 350px;
    display: inline-flex;
    text-align: center;
    list-style: none;
}


#login-content{
    width: 100%;
    max-width: 1200px;
    display: inline-flex;
    padding: 20px;
    animation: fadeIn 0.2s linear;
    transition: 0.2s;
}

#login-content .profile{
    width: 100%;
    min-width: 750px;
    min-height: 444px;
}

#login-content .profile h2{
    font-weight: normal;
    font-size: 32px;
    padding: 20px 0px;
}

#login-content .profile h2 span{
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    font-weight: bolder;
}

#login-content .profile .profile-card{
    width: 100%;
    height: 380px;
    border: 5px solid #333;
    border-radius: 4px;
    display: inline-flex;
    justify-content: left;
    align-items: center;
    animation: appear 0.2s linear;
}

#login-content .profile .profile-card .left{
    width: 100%;
    height: 100%;
    display: inline-block;
    max-width: 300px;
    background: #333;
}

#login-content .profile .profile-card .left .part{
    width: 100%;
    position: relative;
    height: 50%;
    text-align: center;
}

#login-content .profile .profile-card .left .part:nth-child(1){
    z-index: 10;
}

#login-content .profile .profile-card .left .part:nth-child(2){
    background: #191919;
    display: inline-flex;
    align-items: flex-end;
}

#login-content .profile .profile-card .left .part .thumb{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    width: 180px;
    height: 180px;
    border: 10px solid #333;
    border-radius: 100%;
    background: #191919;
    position: relative;
    top: calc(100% - 90px);
}

#login-content .profile .profile-card .right{
    width: 100%;
}

#login-content .profile .profile-card .right ul{
    padding: 10px;
    list-style: none;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

#login-content .profile .profile-card .right ul li{
    font-weight: bolder;
    font-size: 14px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    width: 100%;
    text-align: left;
}

#login-content .profile .profile-card .right ul li input{
    display: none;
}

#login-content .profile .profile-card .right ul li input[type="text"]{
    font-size: 22px;
    font-weight: lighter;
    display: block;
    text-transform: none;
    margin-bottom: 4px;
    background: transparent;
    border: 0px;
    width: 100%;
}

#login-content .profile .profile-card .right ul li label{
    font-size: 16px;
    display: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    animation: appear 0.2s linear;
}

#login-content .profile .profile-card .right ul li label.off{
    display: inline-block;
    background: #333;
    cursor: default;
}

#login-content .profile .profile-card .right ul li input:nth-child(1):checked ~ label.active{
    display: inline-block;
    background: var(--verde);
}

#login-content .profile .profile-card .right ul li input:nth-child(2):checked ~ label.inactive{
    display: inline-block;
    background: var(--rojo);
}

#login-content .profile .profile-card .left .part .info{
    width: 100%;
    text-align: center;
    padding: 20px;
}

#login-content .profile .profile-card .left .part .info input{
    font-size: 33px;
    background: transparent;
    border: 0px;
    width: 100%;
    text-align: center;
}

#login-content .profile .profile-card .left .part .info input:nth-child(2){
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
}

#login-content .profile .profile-card .options li{
    font-size: 30px;
    padding: 20px;
    list-style: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
    transition: 0.1s;
    transform: scale(1);
}

#login-content .profile .profile-card .options li:hover{
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.3);
}

#login-content .search{
    width: 100%;
    position: relative;
    padding: 20px;
    overflow: auto;
    min-height: 200px;
    display: inline-flex;
    align-items: center;
}

#login-content .search .center{
    width: 100%;
}

#login-content .search .search-c{
    width: 100%;
    position: relative;
}

#login-content .search .search-c input{
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    background: #333;
    border-radius: 100px;
    border: 0px;
    transform: scale(1);
    transition: 0.2s;
}

#login-content .search .search-c p{
    width: 100%;
    padding: 10px;
    transition: 0.2s;
    font-style: italic;
    position: absolute;
    text-align: justify;
    transform: scale(1);
}

#login-content .search .search-c input:focus{
    transform: scale(1.03);
}

#login-content .search .search-c p.focus{
    transform: scale(0);
}

#login-content .search .results{
    max-height: 295px;
    overflow: auto;
    overflow-x: hidden;
    padding: 10px;
    margin-top: 10px;
    transition: 0.4s;
}

#login-content .search .results.close{
    overflow: hidden;
    max-height: 0px;
}

#login-content .search .results::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
#login-content .search .results::-webkit-scrollbar-track {
    background: transparent; 
}
   
/* Handle */
#login-content .search .results::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
#login-content .search .results::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#login-content .search .results p{
    animation: fadeIn 0.2s linear;
}

#login-content .search .results article{
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    display: inline-flex;
    transform: scale(1);
    transition: 0.1s;
    border-radius: 10px;
    cursor: pointer;
    animation: fadeIn 0.2s linear;
}

#login-content .search .results article:hover{
    transform: scale(1.03);
    background: rgba(255, 255, 255, 0.1);
}

#login-content .search .results article .thumb{
    width: 65px;
    height: 65px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    float: left;
}

#login-content .search .results article .info{
    width: calc(100% - 80px);
    position: relative;
    padding: 10px 15px;
    font-weight: bolder;
}

#login-content .search .results article .info span{
    display: block;
    font-weight: normal;
}

/*POP UP*/
#permition-prompt{
    width: 100%;
    height: 100%;
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 1000;
    animation: fadeIn 1s linear;
    transition: 0.2s;
    opacity: 1;
}

#permition-prompt.hide{
    opacity: 0;
}

#permition-prompt .background{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
}

#permition-prompt .content{
    width: 90%;
    max-width: 400px;
    padding: 40px;
    border: 5px solid #ccc;
    border-radius: 10px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: appear 0.3s linear;
    transition: 0.2s;
    transform: scale(1);
}

#permition-prompt .content.off{
    display: none;
}

#permition-prompt .content.hide{
    transform: scale(0);
}

#permition-prompt .content .icon-x{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
    transform: scale(1);
}

#permition-prompt .content .icon-x:hover{
    opacity: 1;
    transform: scale(1.1);
}

#permition-prompt .content .title h2{
    font-size: 20px;
    padding: 0px 20px;
    padding-bottom: 10px;
    font-weight: normal;
}

#permition-prompt .content .title span{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: var(--naranja);
    font-weight: bolder;
    font-size: 14px;
}

#permition-prompt .content input{
    width: 80%;
    padding: 5px;
    font-size: 30px;
    background: transparent;
    border: 0px;
    border-bottom: 4px solid #fff;
    border-radius: 10px;
    text-align: center;
    margin: 20px 0px;
    margin-bottom: 0px;
    opacity: 0.8;
    transition: 0.2s;
    font-family: 'Righteous';
}

#permition-prompt .content input::placeholder{
    font-size: 18px;
    color: #fff;
}

#permition-prompt .content input:focus{
    opacity: 1;
}

#permition-prompt .content button{
    margin-top: 20px;
}